<center id="footer">

    <spacer size="40"></spacer>

    <row>
        <columns small="6">
            <a href="http://emory.edu">
            <img src="http://template.web.emory.edu/newsletter/images/emory-shield.png" alt="Emory University">
            </a>
            <spacer size="30"></spacer>
        </columns>
    
        <columns small="6">
            <menu class="menu-social">
                <item href="#" title="Facebook">
                    <img class="menu-social__icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAMAAAANxBKoAAAASFBMVEU7WZhCX5xDYJxHY55IZJ9NaKFQa6NheaxlfK5of69tg7KBlL2Clr6Xp8iYqMmdrMukss/I0OLR2Ofd4u3q7fT3+Pv6+/3///8AQb1mAAAAXElEQVRIx+3QORKAMAwEQRsQ923w/P+nhIRIAQUFnriTXedSHy8fQty3WYcbAFhUuMCiR5MOwOq1GyPQqh8BqG7QmYgA9CKSXeqJs86ka5MuTdo/+mDSb9epH3QAAOoNOFfiwtkAAAAASUVORK5CYII=">
                </item>
                <item href="#" title="Twitter">
                    <img class="menu-social__icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAMAAAANxBKoAAAAz1BMVEVVrO5WrO5Wre5Xre5Yru5Zru5ar+9br+9dsO9esO9fse9gsu9hsu9isu9is+9js+9ks/BltPBmtPBntfBptvBtuPBuuPBuuPFwufFyuvF6vvJ/wfKAwfKCwvKEw/OGxPOIxfOKxvOOyPSPyPSWzPSWzPWXzPWbzvWcz/Wu2Pe23Pi63fi+3/i+3/nA4PnD4vnM5vrO5/ra7fvd7vze7/zf7/zi8fzk8vzm8/3o9P3p9P3w+P7y+P7z+f70+v72+v73+/77/f/8/v/+/v////+RkLE8AAAA0ElEQVQYGe3B2VaCUAAF0HORTKNbDpkNlmk5ZZZhkTlEyPn/b3JpUELc64Nr+cTeSKV2kzsS0Mngz/WU9DoCpXMkE58WQm2uvU0dA8kszgv4IRmYN5oGEkmSLYGVB4YmeSQzPJLOlQGgx4B/AJUuV7zHerXPwDdUzPyAce9QsfjFuD6UPvjPHZTOFow7hlrJYZQNjZPGmBGX0DBdRrxC63TGDe4h9DK3Twz5FWxTtBnwL6BjZmVtyNBIQks+89f4RmCbbK1nz9zRy30ZqdSeLAExq0ZF0/Ef5AAAAABJRU5ErkJggg==">
                </item>
                <item href="#" title="Instagram">
                    <img class="menu-social__icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAMAAAANxBKoAAAAyVBMVEXpWVDpWlHpW1LpXFPqXVTqXlXqYVjqYVnqZFzrZVzrZV3rZl7rZ17raGDsbWXvhn/vh4Dvh4HviYLwioTwjIbxkozxk43xlpDyn5ryoJvzoZzzop3zo57zpJ/zpaDzp6LzqKP0qaT0rqr1sKz2uLT2ubb2vLj3v7z3wLz3wb73xsP4yMX629n63Nv73tz739374N774d/74uH75OL85uX86Of87Ov98O/98fD98vH98/P+9fT+9vX+9/f++Pj++vr//Pz//v7///+nciwCAAABNUlEQVRIx+2T2VrCMBSE/xQpUFBQBBXFfbfuCt3QMu//UF6UIi5pvVbn7iR/Ts43ycC/fqma27dT5ZreDpoFrNmTpDQcB0EwDlNJ2rXTB4rarnk/7LYjO95S5C7WlRXjRrINs6POh/pJx3Q0sNA3ylo7fX/i9xzOtIGrawudygC4z5KkZxcDRqnFkWzDPOq87jQu9GAAJGOhI4B1XQJwpXWAiYV2FAD4agGwLB8gLqbzq40EkMix0HFGz+oyOgC4Vx2Ahu5+QPd1AsCpekVzzzypjHRYpXqkUaXIk/whvFCSFHgU+Z2/JdVhqHC49KHFV+X/BJj3q2Wuf6NtrX5ZW9OWhW5++t+AG8mz0Owr7tYWslPrxgVRy3KplyR5TZIXleQSvC0/nWc+9Tc9ymRylZL/+jN6A9i3Ml4ApUruAAAAAElFTkSuQmCC">
                </item>
                <item href="#" title="Google+">
                    <img class="menu-social__icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAMAAAANxBKoAAAAulBMVEXdSzndTDrdTDvdTTveTjzeTz7eUT/eUkHeU0LfU0LfVUTgWUngWknhYlPjaVrjbF3kbl/ldGbldmjld2nmem3mfG/ngXXog3boh3vpin7qj4TqkIXrlYvrl4zsmI7smY/smpDtoJbup57wraXwr6fyurPzvrjzwLr0w730xb/1y8b2zsn20c3308/31tL429f53dr65OH87ez87+388e/98vH99fT99/b++Pf++fn++/r+/Pz//v3///+VFZuWAAAAwklEQVQYGe3B2VLCMACG0T9asEXUqHW31C3uoqJUQb73fy26jDdMnHDpMD1Hrdb/Eu1eP97lW1rKQUHtOVHYFb/OFXQEZLHW7OhGQZ0JbKuyYRR0CAMtcFj5PUCiBQ4rvxEzlbqusS4598HQpfL5ZKpSj0YsUcvl8wRdSfFraQKRZO2QS9uXzwkcq2EKxqo4rPxi+NlU7QwyVdK8rz9k8L1vpM4ApokCzD0wextT2lOQuaDxtaNl9E5fivfbNFKrtQrm1TEd+sLY2GUAAAAASUVORK5CYII=">
                </item>
                <item href="#" title="Pinterest">
                    <img class="menu-social__icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAMAAAANxBKoAAABAlBMVEXLICfLISjLIinMIyrMJCvMJSzMJi3NJy7NKC/NKS/NKjDNKjHOKzLOLDPOLTTOLzXPMTfPMTjPMjnPMzrQNDrQNTvQNz3ROD/RO0HSPELSPUPSP0XTQkjTQ0nURkvURkzUR03VSU/VSlDVS1HWTVPWUVbXUlfXU1jXVVvYWF3ZW2Hcam/fdXnfd3zigobihYjkjI/lj5PlkJPmk5bmlZnnl5rnmp3omp7onJ/poaTqpKfrqKrrqazsrrDtsbTutrjvvL7wvsDyycrzy8z0z9D11NX11db219j22dr44OH55ub66er66+z77u777/D99fX99vf9+Pj++vr+/Pz//f3///9yI6QgAAAA+UlEQVQYGe3BaTsCYQCG0ecdpMYWSZGd7PtahFANKcW4//9f8Xa5+jiLr3SOBv645FTKUTwrtz5WddsoUrpGXz2jCBtfcF1IOKNLD+BnFSoP73n92Id2QiFME39WfSU4UYgiHEpupTotKwOfRsFuICW9wLMsB0gr2CstqQC8qQeYV7AOT9IuUJFlgJyC1WhJ68COLBeYULBjmFQSSMpaBN8oWA5KcqGhnjO4U5hz6ipCWdbIB6wp1NayLsGTdQUNRWoDFzNzZSCrKOPgNenxVxVpEw7G7qF76iraERQkZ1ixPMKQYutQVWwGiorN4BnF113QL+xp4D/4BoMKNq8TXc2lAAAAAElFTkSuQmCC">
                </item>
            </menu>
        </columns>
    </row>

    <row>
        <columns>
            <menu class="menu-footer">
                <item href="#" class="menu-footer__item">Emory Home</item>
                <item href="#" class="menu-footer__item">Emory News Center</item>
                <item href="#" class="menu-footer__item">Give to Emory</item>
                <item href="#" class="menu-footer__item">Contact Emory</item>
            </menu>
            <menu class="menu-footer">
                <item href="#" class="menu-footer__item">Footer Link</item>
                <item href="#" class="menu-footer__item">Footer Link</item>
                <item href="#" class="menu-footer__item">Footer Link</item>
                <item href="#" class="menu-footer__item">Footer Link</item>
                <item href="#" class="menu-footer__item">Footer Link</item>
                <item href="#" class="menu-footer__item">Footer Link</item>
            </menu>
            <spacer size="30"></spacer>
        </columns>
    </row>

    <row>
        <columns>
            <center>
                <address>
                    201 Dowman Drive, Atlanta, Georgia 30322 USA | <a href="tel:#">404.727.6123</a> | <a href="mailto:#">email@emory.edu</a>
                </address>
            </center>
            <spacer size="15"></spacer>
        </columns>
    </row>

     <row>
        <columns>
            <p><small>You received this email because you're signed up to get updates from us. <a href="#">Click here to unsubscribe.</a></small></p>
        </columns>
    </row>

</center>