<row>
    <columns>
        <small class="text-center"><a href="#">Email not displaying correctly? View it in your browser.</a></small>
    </columns>
</row>

<row>
    <center id="banner">
        <a href="http://emory.edu" id="banner-logo">
            <img src="http://template.web.emory.edu/newsletter/images/emory-logo.jpg" alt="Emory University">
        </a>
        <a href="#" id="banner-img">
            <img src="http://placehold.it/580x125/052977/ffffff">
        </a>
    </center>
</row>

<spacer size="15"></spacer>

<row>
    <columns small="6">
        <small>Default Theme</small>
    </columns>
    <columns small="6">
        <small class="text-right">Fall 2017</small>
    </columns>
</row>