<row class="grid">
    <columns large="6">
        <spacer size="30"></spacer>
        <div class="padding-first">
            {{> img-half }}
            <spacer size="10"></spacer>
            <h2>Subfeature</h2>
            <p>Intrinsicly provide access to standardized functionalities via front-end convergence. Authoritatively transform market-driven services rather than equity invested convergence. Assertively seize customer directed growth strategies via technically sound innovation. Efficiently productivate e-business strategic theme areas without.</p>
            <button href="#" class="tiny">Read More</button>
        </div>
    </columns>
    <columns large="6">
        <spacer size="30"></spacer>
        <div class="padding-last">
            {{> img-half }}
            <spacer size="10"></spacer>
            <h2>Subfeature</h2>
            <p>Compellingly reinvent leading-edge infomediaries via viral value. Dramatically synergize cross-media collaboration and idea-sharing for reliable channels. Professionally enhance extensive e-markets vis-a-vis compelling bandwidth. Synergistically disintermediate global materials via 24/7 relationships. Objectively supply standardized content through.</p>
            <button href="#" class="tiny">Read More</button>
        </div>
    </columns>
</row>
